@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
}

body, html {
  overflow-y: scroll;
}

:root {
  --main-color: rgb(76, 118, 255);
}

.sign-in {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.sign-in p {
  color: rgb(148, 148, 148);
  font-size: 0.8rem;
  position: relative;
  top: -2rem;
}

h1 {
  color: var(--main-color);
  font-weight: 900;
}

input {
  background-color: rgb(212, 212, 212);
  padding: 1rem;
  width: 200px;
  border-radius: 3px;
}
input:focus {
  background-color: rgb(234, 234, 234);
  outline: solid 2px rgb(18, 52, 164);
}

a {
  padding: 1rem 2rem;
  border-radius: 3px;
  text-decoration: none;
  color: black;
  background-color: rgb(187, 187, 187);
}
a:hover {
  background-color: rgb(213, 213, 213);
  cursor: pointer;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  position: fixed;
  overflow-x: hidden;
}
.main .top-bar {
  width: 100%;
  padding: 0 1rem 0 1rem;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: rgb(228, 228, 228);
  box-shadow: 0px 2px 7px 3px rgba(0, 0, 0, 0.4);
  z-index: 100;
}
.main .top-bar .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  height: 100%;
  font-size: 1rem;
  gap: 5px;
  background-color: #d5d5d5;
  padding: 0 1rem 0 1rem;
}
.main .top-bar .profile:hover {
  background-color: #2586e0;
  color: white;
}
.main .top-bar .profile .profile-icon {
  font-weight: 800;
  color: var(--main-color);
  font-size: 1.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid rgb(39, 39, 39);
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay a {
  background-color: transparent;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.burger {
  position: absolute;
  left: 20px;
  width: 50px;
  height: 100%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger:hover {
  cursor: pointer;
}

.event-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  width: 100%;
  top: 40px;
}
.event-list .event {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  min-width: 100px;
  border-bottom: 2px solid #202020;
  background-color: #ededed;
  gap: 10px;
}
.event-list .event .pic {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.event-list .event .pic img {
  max-height: 80%;
}
.event-list .event .event-text {
  max-width: 500px;
  padding: 1rem;
}
.event-list .event .event-name {
  font-weight: 900;
  font-size: 1.3rem;
}
.event-list .event .event-club {
  font-weight: 550;
}

.friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40px;
  width: 100%;
}
.friends .search-bar {
  width: 100%;
}
.friends .search-bar input {
  width: 100%;
}
.friends .friends-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.friends .friends-list .friend {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #f3f3f3;
  border-bottom: 2px solid black;
}
.friends .friends-list .friend .friend-inner {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  width: 100px;
}
.friends .friends-list .friend .profile-icon {
  font-weight: 800;
  color: var(--main-color);
  font-size: 1.5rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid rgb(39, 39, 39);
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40px;
  width: 100%;
}
.calendar .month-text {
  color: var(--main-color);
  font-size: 3rem;
  font-weight: 500;
  height: 50px;
  width: 100%;
  padding-left: 5rem;
  background-color: #202020;
}
.calendar .month {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 90px);
}
.calendar .month table {
  width: 100%;
  height: 100%;
  background-color: #181818;
  color: rgb(255, 255, 255);
}
.calendar .month table tr {
  width: 100%;
}
.calendar .month table tr td {
  width: 14.2857142857%;
}
.calendar .month table td {
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: #202020;
  position: relative;
}
.calendar .month table td .event {
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 45%;
}
.calendar .month table td .event.orange {
  background-color: orange;
}
.calendar .month table td .event.blue {
  background-color: rgb(81, 72, 251);
}
.calendar .month table td .event.green {
  background-color: rgb(72, 251, 129);
}

@media only screen and (max-width: 600px) {
  .event {
    background-color: lightblue;
    flex-direction: column;
  }
  .event .event-text {
    width: 400px;
  }
}/*# sourceMappingURL=style.css.map */