@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
}

body, html {
  overflow-y: scroll;
}

:root {
  --main-color: rgb(76, 118, 255);
}

.sign-in {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.sign-in p {
  color: rgb(148, 148, 148);
  font-size: 0.8rem;
  position: relative;
  top: -2rem;
}

h1 {
  color: var(--main-color);
  font-weight: 900;
}

input {
  background-color: rgb(212, 212, 212);
  padding: 1rem;
  width: 200px;
  border-radius: 3px;
}
input:focus {
  background-color: rgb(234, 234, 234);
  outline: solid 2px rgb(18, 52, 164);
}

a {
  padding: 1rem 2rem;
  border-radius: 3px;
  text-decoration: none;
  color: black;
  background-color: rgb(187, 187, 187);
}
a:hover {
  background-color: rgb(213, 213, 213);
  cursor: pointer;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  position: fixed;
  overflow-x: hidden;
}
.main .top-bar {
  width: 100%;
  padding: 0 1rem 0 1rem;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 7px 3px rgba(0, 0, 0, 0.4);
  z-index: 100;
}
.main .top-bar.center {
  justify-content: center;
}
.main .top-bar .page-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .top-bar .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  height: 100%;
  font-size: 1rem;
  gap: 5px;
  background-color: #f4f4f4;
  padding: 0 1rem 0 1rem;
}
.main .top-bar .profile:hover {
  background-color: #2586e0;
  color: white;
}
.main .top-bar .profile .profile-icon {
  font-weight: 800;
  color: var(--main-color);
  font-size: 1.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid rgb(39, 39, 39);
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay a {
  background-color: transparent;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.burger {
  width: 50px;
  height: 100%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger:hover {
  cursor: pointer;
}

.event-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
  gap: 10px;
}
.event-list .dates {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  min-width: 100px;
  border-radius: 15px;
  font-weight: 900;
  border-bottom: 2px solid #3467ff;
  background-color: #f8f8f8;
  gap: 10px;
}
.event-list .event {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  min-width: 100px;
  border-radius: 35px;
  border-bottom: 2px solid #3467ff;
  background-color: #ededed;
  gap: 10px;
}
.event-list .event:hover {
  background-color: #f1f1f1;
}
.event-list .event .pic {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.event-list .event .pic img {
  border-radius: 50%;
  border: 2px solid rgb(28, 153, 225);
  max-height: 110px;
  max-width: 110px;
  min-height: 100px;
  min-width: 100px;
}
.event-list .event .event-text {
  max-width: 500px;
  padding: 1rem;
}
.event-list .event .event-name {
  font-weight: 900;
  font-size: 1.3rem;
}
.event-list .event .event-club {
  font-weight: 550;
}

.friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40px;
  width: 100%;
}
.friends .search-bar {
  width: 100%;
}
.friends .search-bar input {
  width: 100%;
}
.friends .friends-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.friends .friends-list .friend {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 5rem;
  gap: 10px;
  background-color: #f6f6f6;
  border-radius: 30px;
  border-bottom: 2px solid rgb(41, 126, 229);
  font-weight: 700;
  position: relative;
}
.friends .friends-list .friend:hover {
  background-color: rgb(241, 241, 241);
}
.friends .friends-list .friend .menu {
  font-weight: 900;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: absolute;
  right: 30px;
  top: 23.5px;
}
.friends .friends-list .friend .friend-inner {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}
.friends .friends-list .friend .profile-icon {
  font-weight: 800;
  color: var(--main-color);
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid rgb(50, 92, 227);
  background: linear-gradient(35deg, rgb(4, 80, 141), rgb(0, 4, 24));
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-details > .profile-icon {
  font-weight: 800;
  color: var(--main-color);
  font-size: 2.5rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid rgb(50, 92, 227);
  background: linear-gradient(35deg, rgb(4, 80, 141), rgb(0, 4, 24));
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40px;
  width: 100%;
}
.calendar .month-text {
  color: var(--main-color);
  font-size: 3rem;
  font-weight: 500;
  height: 50px;
  width: 100%;
  padding-left: 5rem;
  background-color: #202020;
}
.calendar .month {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 90px);
}
.calendar .month table {
  width: 100%;
  height: 100%;
  background-color: #181818;
  color: rgb(255, 255, 255);
}
.calendar .month table tr {
  width: 100%;
}
.calendar .month table tr td {
  width: 14.2857142857%;
}
.calendar .month table td {
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: #202020;
  position: relative;
}
.calendar .month table td .event {
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 45%;
}
.calendar .month table td .event.orange {
  background-color: orange;
}
.calendar .month table td .event.blue {
  background-color: rgb(81, 72, 251);
}
.calendar .month table td .event.green {
  background-color: rgb(72, 251, 129);
}

.event-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgb(29, 29, 29), rgb(245, 245, 245) 40%);
}
.event-page .pic {
  width: 80%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.event-page .pic img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}
.event-page .day {
  font-weight: 900;
  color: red;
  font-size: 2rem;
}
.event-page .details {
  background: white;
  padding: 1rem;
}
.event-page .details .details-text {
  font-size: 1.4rem;
}
.event-page .details .icon {
  display: flex;
  gap: 3px;
}
.event-page .details .profile-icon {
  width: 30px;
  height: 30px;
  font-weight: 800;
  color: var(--main-color);
  font-size: 1.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid rgb(0, 123, 255);
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
}
.event-page .event-date {
  background: #f2f7ff;
  font-weight: 700;
  color: var(--main-color);
  padding: 0.5rem;
  border-radius: 5px;
}
.event-page .group {
  padding: 0.3rem 0rem 1rem 0rem;
}
.event-page .event-club span {
  font-weight: 700;
}
.event-page .event-text {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}
.event-page .event-text .event-name {
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.event-page .event-text .event-name span {
  border-radius: 5px;
  border: 2px solid blue;
  font-size: 1.4rem;
  padding: 0.1rem 1rem;
  color: blue;
  background: rgba(215, 215, 255, 0.902);
}
.event-page .event-text .event-name span a {
  color: blue;
  background: none;
}

@media only screen and (max-width: 600px) {
  .event {
    background-color: lightblue;
    flex-direction: column;
  }
  .event .event-text {
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */